<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.UserMapper">
    <sql id="userFields">
        id,username,password,salt,header_url,email,type,create_time,status,activation_code
    </sql>
<select id="selectUserById" resultType="user">
    select <include refid="userFields"></include>
    from user
    where status !=2
    AND  id =#{id}
</select>

</mapper>